body {
  margin: 0;
  padding: 0;
  font-size: 16px;}

nav {
  background-color: #333;
  margin: 0;
  overflow: hidden;}

nav ul {
  margin: 0;
  padding: 0;}

nav ul li {
  display: inline-block;
  list-style-type: none;}

nav > ul > li > a {
  color: #aaa;
  background-color: #FF0;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;}
