<!DOCTYPE html>
<html>
<head>
  <title>stalk floweroh</title>
</head>

<body>
  <nav>
    <ul>
      <li>{{#link-to 'index'}} stalk floweroh {{/link-to}}</li>
      <li>{{#link-to 'question'}} stuff {{/link-to}}</li>
      <li>{{#link-to 'question'}} stuff {{/link-to}}</li>
    </ul>
  </nav>

{{outlet}}

</body>
</html>
