<div class="pagetopbar"> trending questions </div>
<div id="questionlist">
  <ul>
    {{#each model as |question|}}
    <li class="question">{{#link-to 'question' question.id}}{{question.summary}}{{/link-to}} (asked by {{question.user}})</li>
    {{/each}}
  </ul>
</div>

<div class="ask">{{#link-to 'ask-question'}} ask {{/link-to}}</div>
